body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #0c0c0c;
  color: #fff;
  text-align: center;
}

header {
  background: #1a1a1a;
  padding: 1rem;
  box-shadow: 0 2px 10px rgba(255, 255, 255, 0.1);
}

h1 a {
  color: #f6c90e;
  text-decoration: none;
}

nav a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: #f6c90e;
}

#app {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.card {
  background: #1c1c1c;
  border-radius: 10px;
  padding: 10px;
  width: 200px;
  transition: 0.3s;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
  background: #2a2a2a;
}

.card img {
  width: 100%;
  border-radius: 10px;
}

button {
  background: #f6c90e;
  color: #000;
  border: none;
  padding: 5px 10px;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background: #ffdd33;
}
